@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@keyframes loading {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.dot {
    animation: loading 1.5s infinite;
}